body{
  background-image: url("background1.jpg");
}

.App {
  text-align: center;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  background-image: url("homeBackground.jpg");
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background: black;
  color: white;
  text-decoration: none;
}

.nav-links{
  font-size: 20px;
  padding-top: 25px;
  width:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}


